<!DOCTYPE HTML>
<html>

<head>  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function () {
		$("#btn_submit").click(function(){
			var in_location=document.getElementById('txt_location').innerHTML;

				console.log("in_location is "+in_location);

				$.post("/test2", 
					{
						handle: $('input[name="location"]').val(),
						location: 'Chicago'
					},
		            function(res){

		            	console.log(res);
		            	var myDataPoints=[];

		            	for(var i=0;i<res.length;i++){

		            		myDataPoints.push({x:res[i].review_count,y:res[i].rating,name:res[i].name});
		            	}

		            	console.log("my data points");
		            	console.log(myDataPoints);

		            			var chart = new CanvasJS.Chart("chartContainer",
				{
					title:{
						text: "Yelp Stuff",      
						fontFamily: "arial black",
						fontColor: "DarkSlateGrey"
					},
		                        animationEnabled: true,
					axisX: {
						title:"Number of Ratings",
						titleFontFamily: "arial"

					},
					axisY:{
						title: "Stars",
						titleFontFamily: "arial",
						valueFormatString:"0",
						titleFontSize: 12
					},

					data: [
					{        
						type: "scatter",  
						toolTipContent: "<span style='\"'color: {color};'\"'><strong>{name}</strong></span> <br/> <strong>Stars</strong> {y} $<br/> <strong>Number of Ratings</strong> {x} ",
						dataPoints:myDataPoints
						// dataPoints: [

						

						// ]

					}
					]
				});

				chart.render();


		            }
				);




		})




	})
</script>
<script type="text/javascript" src="/canvasjs-1.7.0/canvasjs.min.js"></script>
</head>
<body>

	<div>
		<h1>Yelp Viz</h1>
		<p>A visualization of some date from Yelp's API</p>

	</div>


	<div>
		<p>Location:<input id ="txt_location" type="text" name="location">
	    <input id ="btn_submit" type="submit"></p>
		

	</div>

	
	<div id="chartContainer" style="height: 300px; width: 70%;">
	</div>

<p>Deveoped by: Jon Bohrer, Kevin Jin, Jaiveer Kothari, Aaron Loh</p>
</body>
</html>